.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.partOne {
}

.za-tabs--horizontal.za-tabs--scroll .za-tabs__tab {
    padding: 0 5px !important;
}
.za-tabs__tab {
    font-size: 14px !important;
}

.za-message__body {
    font-size: 14px !important;
}
.za-button.za-button--primary.za-button--sm.za-button--radius {
    background: #f0cf50 !important;
    border: 1px solid #f0cf50 !important;
}
